.statsContainer {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 200px;
  left: 20px;
  width: fit-content;
  font-size: 1.5rem;
  color: white;
}

.grogu {
  transition: all 0.5s ease;
}

.grogu:hover {
  transform: rotate(360deg);
}
